BasedOnStyle: LLVM
Language: Cpp
UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
ColumnLimit: 0
BreakBeforeBraces: Linux
PointerAlignment: Right
ReferenceAlignment: Right
AlignAfterOpenBracket: Align
AlignOperands: Align
IndentCaseLabels: false
NamespaceIndentation: None
SortIncludes: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
